* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }

  a:visited {
    color: black;
  }
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3892c7;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff7700;
  }